@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');

@import "tailwindcss";

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background-color: #f9fafb;
    font-family: 'Noto Serif Bengali', serif;
}

